page-promocoes {   
    h2.promocao_title {
        color: black;
        font-weight: bold;
        text-align: center;
        font-family: Verdana, sans-serif;        
    }
    
    h1.preco_title {        
        color: #FF2A00;
        font-weight: bold;
        text-align: center;        
        font-family: Verdana, sans-serif;
    }

    .promo_image img {
        width: 300px;
    }

    .img {
        text-align: center
    }

    .cardProd {
        background-color: #008AFF;        
    }

    /*
    div.container {
        height: 100%;
        background: -webkit-linear-gradient(top, #088fad 20%, #00d5ff 100%);
    }*/

    div.descricao {
        width: 38%;
        display: inline-block;
        font-size: 3vw;
        text-align: center;
        padding: 5vw 0vw 5vw 0vw;
        min-width:40vw;
    }

    div.preco {
        width: 38%;
        display: inline-block;
        margin-right: 0vw;
        font-size: 3vw;
        text-align: center;
        padding: 5vw 0vw 5vw 0vw;
        min-width:40vw;
    }
    
}