page-promocoes {   

    ion-header {
        text-align: center;

        img {
            height: 100px;
            width: 160px;
        }
    }

    ion-content {
        //background-color: #008039;
        //color: #008039;
    }    

    .masters {
        //background-color: #008039;
        background-color: #C7C9C8;
      }

    .filial {
        align-items: center;
        text-align: center;
        //background-color: #008039;
        height: 40px;
        color: #008039;
    }


    h3.promocao_title {
        color: black;
        font-weight: bold;
        text-align: center;
        font-family: Verdana, sans-serif;        
    }
    
    h1.preco_title {
      margin-top: 14px;
      color: black;
      //color: #018DFF;
      font-weight: bold;
      text-align: center;
      font-family: Verdana, sans-serif;
      margin-bottom: -8px;
    }

    .promo_image img {
        width: 300px;
    }

    .img {
        text-align: center;
        
    }

    .cardProd {
        display: flex; 
        height: 130px;
        border-radius: 10px;

        img {
            border-radius: 8%;
            max-width: 120px;
            max-height: 120px;
            width: auto;
            height: auto;
            margin: 0 0 35px 0;
        }

        .texto {
            position: relative;
            top: 8%;
            right: 2%;
            font-size: 1.0em;            
            font-weight: bold;
            font-family: Verdana, sans-serif;        
        }

        .preco_title {
            position: absolute;
            top: 58%;
            right: 2%;
            //text-align: center;
            margin-top: 14px;
            color: black;
            font-weight: bold;
            font-size: 1.4em;
            text-align: center;
            font-family: Verdana, sans-serif;
            margin-bottom: -8px;
        }

        .validade {
            position: absolute;
            top: 58%;
            align-items: center;
            text-align: center;

            .validoAte {       
                //color: #1CCE16;
                height: 19px;
                width: 110px;
                font-size: 0.7em;
                font-weight: bold;
            }

            .dataValidade {  
                font-weight: bold;                  
                font-size: 0.7em;                    
            }
        }
      
                        
    }

    /*
    div.container {
        height: 100%;
        background: -webkit-linear-gradient(top, #088fad 20%, #00d5ff 100%);
    }*/

    /*
    div.descricao {
        //width: 38%;
        display: inline-block;
        font-size: 3vw;
        text-align: center;
        padding: 5vw 0vw 5vw 0vw;
        min-width:40vw;
    }

    div.preco {
        //width: 38%;
        display: inline-block;
        margin-right: 0vw;
        font-size: 3vw;
        text-align: center;
        padding: 5vw 0vw 5vw 0vw;
        min-width:40vw;
    }*/
    
}
