<ion-header>
  <img src="assets/imgs/coopera1.png" alt="">
</ion-header>

<ion-content class="masters">

  <!--<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxar para atualizar" refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>-->

  <br>
  
  <h2 class="filial">    
    <ion-icon name="pin"></ion-icon> {{filial}}
  </h2> 

  <ion-card class="cardProd" *ngFor="let produto of produtos">   
    
      <img src="assets/imgs/ofertas/doritos.jpg" alt="">    

      <div class="descricoes">
        <h2 class="promocao_title">
          <strong> {{ formatDescricaoProdutos(produto.descricaoReduzida) }} - {{ produto.medida }}</strong>
        </h2>
        <h1 class="preco_title">
          {{ produto.preco | currency:'BRL':true }}
        </h1>
      </div>
  </ion-card>

  <!--<ion-card class="cardProd" *ngFor="let produto of produtos">
    <ion-item>
      <ion-card-content>
        <h2 class="promocao_title">
          <strong> {{ formatDescricaoProdutos(produto.descricaoReduzida) }} - {{ produto.medida }}</strong>
        </h2>
        <img src="assets/imgs/no-image.png" alt="">
        <h1 class="preco_title">
          {{ produto.preco | currency:'BRL':true }}
        </h1>

      </ion-card-content>
    </ion-item>
  </ion-card>-->

</ion-content>