page-home {

  .custom {
    background-color: white !important; /* This sets the background color*/
  }

  /*Set the background to transparent for ion-item*/
  .custom .item {
    background-color: transparent;
    border: none; /*Removes all borders*/
    color: #008AFF; /*Text color for each item*/
  }

  .menu img {
    width: 70px;
    margin: 1px 0 0 0;
  }

  .menu h3 {
    color: white;
    //display: flex !important;
    //align-content: center !important;
    //align-items: center !important;
    text-align: center;
    margin-top: 10px;
  }

  .title_valores {
    text-align: center;
    color: black;
  }

  .gastos {
    height: 85px;
    
  }
  .gasto-mensal {
    right: 0px;
    padding-left: 0px;
    height: 100%;
    border-left: #00a4ff solid 3px; 
    background-color: #ddf3ff;
    ion-card-title {
      font-size: 21px;
      color: #005888;
      //text-align: left;
      //padding-left: 20px;
      font-family: "Ionicons";
      //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      //font-size: 10px;
    }
  }

  .gasto-mensal2 {
    right: 0px;
    padding-left: 0px;
    height: 100%;    
    border-left: #00A4FF solid 3px;     
    background-color: #eff5f7;
    ion-card-title {
      font-size: 21px;
      color: #005888;
      //text-align: left;
      //padding-left: 20px;
      font-family: "Ionicons";
      //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      //font-size: 10px;
    }
  }

  .chart-img {
    width: 16vw;
    height: 7vh;
    float: left;
    margin: -4px 19px 0 -27px;
  }

  .chart-img-title {
    width: 16vw;
    height: 7vh;
    margin: -6px 0px 0px -29px;
  }
  .headerMenu {
    text-align: center;
    h2{
      text-align: center;
    }
  }
  .toolbar-content.toolbar-content-md{
    height: 100%;
  }

  .title-card {
    color: #03021F;
  }

}
