<ion-header>
  <ion-toolbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-menu [content]="content">
  <ion-header class="headerMenu">
    <ion-toolbar color="primary">
      <div class="menu">
        <h3>
          Compra Fácil</h3>
        <img src="assets/imgs/icon-menu.png" alt="">
        <!--<ion-title>Compra Fácil</ion-title>-->
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content class="custom">
    <div style="color : #3DBCC0; width:100%; height : 100%;margin-top: 22px;">
      <ion-list>
        <button ion-item on-click="chamaMinhasListas()">
          <ion-icon name="custom-cesta" item-left></ion-icon>
          Minhas Listas
        </button>
        <button ion-item on-click="chamaProdutos()">
          <!--<ion-icon name="basket" item-left></ion-icon>-->
          <ion-icon name="custom-products" item-left></ion-icon>          
          Produtos
        </button>
        <button ion-item on-click="chamaSobre()">
          <ion-icon name="ios-phone-portrait" item-left></ion-icon>
          Sobre
        </button>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>

<button ion-item on-click="chamaMinhasListas()">
</button>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
      pullingIcon="arrow-dropdown" 
      pullingText="Puxar para atualizar" 
      refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <img *ngIf="showImg" src="{{'assets/imgs/comece2.png'}}">

  <div *ngIf="showCards" class="title_valores">

    <h1>
      <!--<img class="chart-img-title" src="../../assets/imgs/analisis.png">Valores Gastos-->
      <ion-icon ios="ios-trending-up" md="md-trending-up"> Valores Gastos</ion-icon>
    </h1>

    <ion-card class="gastos" *ngFor="let card of cards">    
      <ion-item class="gasto-mensal">
        <ion-card-content>
          <ion-card-title>
            <img class="chart-img" src="../../assets/imgs/chart.png">
            {{ card.mes }}
            {{ card.valor | currency:'BRL':true }}
          </ion-card-title>
        </ion-card-content>
      </ion-item>
    </ion-card>

    <!--
    <ion-row>
      <ion-col col-3>
        <ion-card class="card">
          <ion-card-header>
            Card Header
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col col-3>
        <ion-card>
          <ion-card-header>
            Card Header
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
-->

  </div>


  <!--<div id="donut_single" style="width: 300px; height: 200px;"></div>-->

</ion-content>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
