page-seleciona-filial-menu {

    /*.fab {
        contain: initial;
        box-shadow: 0px 2px 1px 1px #999999;
    }*/

    ion-footer {
        color: red;
        background-color: red;
    }

}

.alert-md .alert-title {
    color: black;    
}

